# --- custom configuration ---
## Protected contents
**/protected/
**/privated/
### exceptions

## Temporary / Test
*.log
## CodeBase / Temporary / Test in 'code-manager/'
code-manager/archive/*
code-manager/test/*
code-manager/result.txt
### exceptions